div.menu
	ul.items
		- for (let data of menu)
			if !data.device || device == data.device
				li.item-list
					a.item-link(href=`${data.transition}`) #{data.name}
	if system
		ul.items
			- for (let data of systemMenu)
				if !data.device || device == data.device
					li.item-list
						a.item-link(href=`${data.transition}`) #{data.name}
