div.profile.box
	div.header
		span.overview プロフィール
		div.profile-image
			img(src="/images/profile.png" alt="プロフィール画像")
		dl.main
			dt 名前
			dd 新神 (sinnkami)
			p
				| なんか色々なことしてますよ。
				| きっと
			dt URL
			dd
				ul
					li
						a(href="https://github.com/sinnkami" target="_blank") github
						div.follow
							//- Place this tag where you want the button to render.
							a(class="github-button" href="https://github.com/sinnkami" aria-label="Follow @sinnkami on GitHub") フォローする
							//- Place this tag in your head or just before your close body tag.
							script(async defer src="https://buttons.github.io/buttons.js")

					li
						a(href="https://twitter.com/sinnkami_" target="_blank") twitter
						div.follow
							//- a(class="js-twitterFollowBtn" href="https://twitter.com/intent/follow?screen_name=sinnkami_" target="_blank") フォローする
							a(href="https://twitter.com/sinnkami_?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-lang="ja" data-show-count="false")
							script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
