div.tweet-timeline.box
    div.header
        span.overview
            a.name(href="https://twitter.com/sinnkami_") @sinnkami_
                | のツイート
        div.timeline
            a(class="twitter-timeline" href="https://twitter.com/sinnkami_?ref_src=twsrc%5Etfw" data-lang="ja" data-height="600" data-theme="light" data-chrome="noheader nofooter")
            script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
        div.footer
            a.twitter-link(href="https://twitter.com/sinnkami_") Twitterで表示
