nav.navbar.navbar-inverse.navbar-fixed-left
	div.container-fluid
		div.navbar-header
			button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbarSupportedContent")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/system/") 管理ページ
		div#navbarSupportedContent.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href="/system/") ホーム
				li
					a(href="/system/blog") 記事一覧
				li
					a(href="/system/") 設定
				li
					a(href="/system/") お問い合わせ