extends /layout/system
block meta
block main
	div.row
		div.page-header
			h1 記事一覧
		div.container-fluid
			div.table-responsive
				table.table.table-striped
					thead
						tr
							th 記事ID
							th タイトル
							th 投稿日時
							th 更新日時
							th 編集
							th 削除
					tbody
						- for (const entry of contents)
							tr
								td #{entry.entryID}
								td #{entry.title}
								td #{entry.createAt}
								td #{entry.updateAt}
								td
									button.btn.btn-default
										span.glyphicon.glyphicon-pencil(aria-hidden="true")
								td
									button.btn.btn-default
										span.glyphicon.glyphicon-trash(aria-hidden="true")

			include /components/system/blog/page-direction
