doctype html
html
	head
		title #{title}
		meta(content=`管理ページ | ${title}` name="title")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="format-detection" content="email=no,telephone=no,address=no")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		script(src="/module/jquery.min.js" type="text/javascript" charset="utf-8")
		link(rel="stylesheet" href="/module/css/bootstrap.min.css" )
		link(rel="stylesheet" href="/module/navbar-fixed-left.min.css" )
		script(src="/module/js/bootstrap.min.js" type="text/javascript" charset="utf-8")
		block meta
	body
		include /components/system/parts/side-menu
		div.container-fluid
			block main