div.category-list.box
	sapn.overview 最近のカテゴリ
	ul.items
		- for (let category of categoryList)
			li.item-list
				a.item-link(href=`/blog/category/${category.name}`) #{category.name}
		li.item-list
			a.item-link(href="/blog/category") カテゴリ一覧
